.DS_Store

# FRONTEND

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/node_modules

frontend/dist
frontend/android/.gradle
frontend/android/.idea
frontend/android/app/build
frontend/android/capacitor-cordova-android-plugins
frontend/android/local.properties
frontend/ios/App/Pods
frontend/ios/App.xcodeproj/xcuserdata
frontend/ios/App.xcworkspace/xcuserdata
frontend/ios/capacitor-cordova-ios-plugins
frontend/.env

# BACKEND

backend/node_modules
backend/dist
backend/.env

# compiled output
backend/build
backend/prisma/migrations
backend/prisma/dev.db

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# OS
backend/.DS_Store

# Tests
backend/coverage
backend/.nyc_output

# IDEs and editors
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
backend/!.vscode/settings.json
backend/!.vscode/tasks.json
backend/!.vscode/launch.json
backend/!.vscode/extensions.json

# dotenv environment variable files
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local

# temp directory
backend/.temp
backend/.tmp

# Runtime data
backend/pids
backend/*.pid
backend/*.seed
backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
